.basket-list {
    padding-right: 50px;
    &__item {
        display: flex;
        border: 1px solid #212121;
        margin-bottom: 10px;
        width: 380px;
        padding: 10px;
        flex-direction: column;
        position: relative;
        max-width: 100%;
    }

    &__btn {
        position: absolute;
        right: -40px;
        top: calc(50% - 15px);
        border: 1px solid #212121;
        width: 32px;
        height: 32px;
        cursor: pointer;

        &:before,
        &:after {
            display: block;
            position: absolute;
            top: 7px;
            left: 14px;
            content: '';
            width: 4px;
            height: 18px;
            transform: rotate(-45deg);
            background-color: #212121;
        }

        &:before {
            transform: rotate(45deg);
        }
    }

    &__item-name {
        margin-bottom: 10px;
    }

    &__item-dscr {
        margin: 5px 0;
        font-weight: 600;
    }
}

h2  {
    margin: 20px 0;
    color: #212121;
}